<div id="mainBody">
    <div id="header">
        <p>Software Engineer - Intern at</p>
        <div id="allegro-logo"></div>
        <div id="GIT" (click)="goGit()"></div>
        <div id="IN" (click)="goLinkedIn()"></div>
    </div>
    <div id="body">
        <div id="body-wrapper">
            <div id="body-table">
                <div>Last updated repository in Allegro Github :</div>
                <div id="repoName">{{repoName}}</div>
            </div>
            <div id="button-left" (click)="goEndpoint()">Go to Endpoint</div>
            <div id="button-right" (click)="goRepo()">Repository</div>
        </div>
    </div>
    <div id="bottom">
        <div>email: sowinski.igor@gmail.com</div>
    </div>
</div>


