
#mainBody {
  height: 100%;
  width: 100%;
  background-color: #068587;
  //background-image: url("~src/assets/backgorund-full.jpg");
  #wrapper {
    height: 100%;
    width: 100%;

    #title {
      width: 150px;
      height: 150px;
      background-color: red;
    }
    #repoName {
      width: 150px;
      height: 150px;
      background-color: yellow;
    }
    #author {
      width: 150px;
      height: 150px;
      background-color: purple;
    }
  }
}