
#mainBody {
  height: 450px;
  width: 450px;

  #wrapper {
    height: 450px;
    width: 150px;
    margin: auto;
    #title {

      width: 150px;
      height: 150px;
      background-color: red;
    }
    #repoName {
      width: 150px;
      height: 150px;
      background-color: yellow;
    }
    #author {
      width: 150px;
      height: 150px;
      background-color: purple;
    }
  }
}